@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
  background: linear-gradient(to bottom, rgb(159, 221, 162), #5bb162);
  margin: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content:center;
  margin-left: 0%;
  margin-right: 0%;
}

.logo {
  max-width:35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30%;

}

.container {
  background-color: #51a960;
  border-radius: 10px;
  padding: 2rem;
  width: 800px;
  text-align: center;
}
.forgot-password {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
}