footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 1%;
    background-color: hsl(0, 0%, 99%);
    display: flex;
    margin: 0;
    justify-content: center;
  }
  
  footer a {
    display: flex;
    margin-right:5%;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: auto;
    color: #616161;;
    font-size: inherit;
  }
  
  a:hover{
  color: rgb(23, 131, 11);
  }
  
  @media screen and (max-width:600px){
  .link{
  margin-left: 5%;
  margin-right: 5%;
  font-size:small;
  }
  .redesocial{
  display: none;}
  h1{
    font-size: medium;
  }
  footer{
    padding: 3%;
  }
  
  footer a{
  font-size: small;
  margin-right:1%;
  margin-left: 1%;
  display: flex;
  
  }

@media screen and (min-width: 40in) {
    .link {
        font-size: 24px;
        margin-left: 40%;
        margin-right: 40%;
    }
    
    h1{
    font-size: 40px;
    
      }
    footer{
      padding: 3%;
    }
    footer a{
      font-size: 24px;
    }
    .botaoredondo{
      width: 180px;
      height: 180px;
    }
      }
    @media (max-width: 1200px){
      .conteudo {
          flex-direction: column;
          align-items: center;
          width: 100%;
      }
      .social-icons{
          width: 100%;
          flex-direction: column;
          align-items: center;
          size: 5px;
          gap: 3rem;
    
      }
    
    }
}