body {
    background-image: url('https://i.imgur.com/KeP4alT.jpeg');
    background-size: cover;
    width: 100%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    margin-top: 0%;
    height: 71vh; /* Faz o body ocupar 100% da viewport */
  }
  
  main{
    max-width: 100%;
    min-width: 320px;
    padding: 0%;
    margin: 0%;
  }
  .principal{
    flex-direction: row;
    row-gap: 2%;
    align-items: flex-start;
  
  }
  
  .botaoredondo {
    width: 90px;
    height: 90px;
    border-radius: 50%; /* Aplica uma borda circular */
    background-color: #e0e0e0; /* Cor de fundo do botão */
    background-size: cover; /* Ajusta o tamanho da imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    transition: transform 0.3s ease;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
  
  }
  .botaoredondo img {
    width: 70px; /* Ajusta a largura da imagem para ocupar todo o espaço do botão */
    height: 70px; /* Ajusta a altura da imagem para ocupar todo o espaço do botão */
    border-radius: 50%; /* Mantém a imagem como uma forma circular */
  
  }
  .botaoredondo:hover {
    background-color: rgb(128, 235, 114);
    transform: scale(1.1);
  
  }
  
  h1 {
    display: flex;
    font-family:'Roboto', sans-serif;
    color:hsl(0, 0%, 100%);
    background-color: rgb(35, 134, 10);
    font-size:x-large;
    padding: 2%;
    margin-left: 50%;
    margin-right:0%;
    margin-top: 9.5%;
    border-radius: 10px;
    justify-content:center ;
  
  }
  
  footer {
    bottom: 0%;
    width: 100%;
    padding: 1%;
    padding-bottom:-1%;
    background-color: hsl(0, 0%, 99%);
    display: flex;
    margin-bottom: 0%;
    margin-top:1%;
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center;
  }
  
  footer a {
    display: flex;
    padding-bottom: 0%;
    margin-right:5%;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: auto;
    color: black;
  }
  
  a:hover{
  color: rgb(23, 131, 11);
  }
  
  @media screen and (max-width:600px){
  .link{
  margin-left: 5%;
  margin-right: 5%;
  font-size:small;
  }
  .redesocial{
  display: none;}
  h1{
    font-size: medium;
  }
  footer{
    padding: 3%;
  }
  
  footer a{
  font-size: small;
  margin-right:1%;
  margin-left: 1%;
  display: flex;
  
  }
  
  }
  @media screen and (min-width: 40in) {
  .link {
      font-size: 24px;
      margin-left: 40%;
      margin-right: 40%;
  }
  
  h1{
  font-size: 40px;
  
    }
  footer{
    padding: 3%;
  }
  footer a{
    font-size: 24px;
  }
  .botaoredondo{
    width: 180px;
    height: 180px;
  }
    }
  @media (max-width: 1200px){
    .conteudo {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .social-icons{
        width: 100%;
        flex-direction: column;
        align-items: center;
        size: 5px;
        gap: 3rem;
  
    }
  
  }